<!DOCTYPE html>
<html ng-app>
<head>

<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<app-main-nav ></app-main-nav>

<div class="block">
<img src="assets/img/movie_poster.png" class="poster">
<img src="assets/img/tickets.png" class="tickets">
</div>

<img src="assets/img/popcorn.png" class="snap">
<img src="assets/img/popcorn.png" class="crackle">
<img src="assets/img/popcorn.png" class="pop">

<p class="caption_1">Personalized movie recommendations that not only satisfies your movie cravings, 
 <br> but makes any gathering, date night or simply "You Time"  special.
 <br> <br>  Let us serve you a mouthwatering and savory reccomendation.
 </p>

</body>
</html>


